@import "tailwindcss";

@theme {
  --color-pastel-green: #8eb15c;
  --color-off-white: #F5F0E6;
  --color-pastel-dark-green: #457a6a;
  --color-soft-lime: #F2F9E9;
  --color-citrus-orange: #FFA600;
  --color-bright-leaf-green: #88CC00;
  --color-dark-charcoal: #333333;
  --color-moss-green: #808274;
  --color-dusty-pink: #c89c98;
  --font-atkinson: 'Atkinson Hyperlegible', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}