@import "tailwindcss";

@theme {
  --color-pastel-green: #8eb15c;
  --color-off-white: #F5F0E6;
  --color-pastel-dark-green: #457a6a;
  --color-soft-lime: #F2F9E9;
  --color-citrus-orange: #FFA600;
  --color-bright-leaf-green: #88CC00;
  --color-dark-charcoal: #333333;
  --color-moss-green: #808274;
  --font-atkinson: 'Atkinson Hyperlegible', sans-serif;
}